*{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

#header{
    background: rgb(255,166,0);
    -webkit-user-select: none;
    color: white;
    background: linear-gradient(90deg, rgba(255,166,0,1) 0%, rgba(224,13,13,1) 100%);
}
#navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav-d{
    display: flex;
    padding: 10px;

}
.nav-d a{
    color: white;
    text-decoration: none;
}
.nav-d:hover{
    background-color: rgba(255, 255, 255, 0.16);
}