@import "modules/optimize.css";
@import "modules/scrollbar.css";
@import "header/header.css";
@import "footer/footer.css";


*{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;

}

.error-message{
    color: red;
    margin: 10px;
}
.success-message{
    color: green;
    margin: 10px;
}


/* body */
body{
    margin:0;
    background-color: #f4f4f9;
    color: #333;
    width: 100%;
}

.body{
    margin: 20px;
    min-height: 80vh;
    padding: 20px;


}
