@import "optimize.css";


*{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;

}

.error-message{
    color: red;
    margin: 10px;
}
.success-message{
    color: green;
    margin: 10px;
}


/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* header */
#header {
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: white;
    padding: 0 20px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#header nav {
    display: flex;
    align-items: center;
}

#header nav a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    transition: background-color 0.3s ease;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.1);
}

#header nav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
#navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
#nav-right{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    margin-left: auto;
}
#nav-left{
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;

}

.nav-d{
    display: flex;
    padding: 10px;
    cursor: pointer;

}
#nav-title{
    cursor: pointer;
}

.nav-d:hover{
    background-color: rgba(255, 255, 255, 0.16);
}


/* body */
body{
    margin:0;
    background-color: #f4f4f9;
    color: #333;
    width: 100%;
}

.body{
    margin: 20px;
    min-height: 80vh;
    padding: 20px;


}

/* footer */

#footer{
    margin: 20px 0 0;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: white;
    padding: 10px 20px 50px;
    bottom: 0;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}


/* index.php */

#cat-title {
    font-size: 2.5em;
    color: #2575fc;
    margin: 20px;
}


#category {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.category-element-a {
    text-decoration: none;
    color: inherit;
}

.category-element {
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: white;
    padding: 20px 40px;
    border-radius: 10px;
    text-align: center;
    align-content: center;
    justify-content: center;
    font-size: 1.2em;
    font-weight: bold;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    width: 200px;
    height: 45px;
}

.category-element:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* info.php */
.info-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 1em;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.info-button:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


#info-leiras p{
    text-align: left;
    margin-top: 20px;
    font-size: 20px;
}


/* quiz.php, quiz_inner.php */

#quiz-feladat{
    font-size: 20px;
    height: 80vh;
}
.quiz-ans{
    align-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    max-width: 500px;
    height: 40px;
    background-color: #e5e3e3;
    border-radius: 10px;
}
.quiz-ans-ch input{
    width: 20px;
    height: 20px;

}

.quiz-ans:hover{
    background-color: #d3d1d1;
}



/* admin_login.php */

#admin-body{
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 86vh;
    flex-direction: column;
}
#admin-title{
    text-align: center;
    color: #333;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
}
#login-form{
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    max-height: 300px;
    max-width: 400px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}
#login-form input{
    width: calc(100% - 1.6rem);
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#admin-submit{
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease-in-out;
    background-color: rgb(227, 227, 227);
}

#admin-submit:hover{
    background-color: rgb(196, 196, 196);
}

/* admin_dash.php */

#admin-flexbox{
    display: flex;
    justify-content: space-between;
}
#admin-logout{
    display: flex;
    justify-content: flex-end;
}
#admin-submit-logout{
    width: 150px;
    height: 40px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
    background: rgb(196, 196, 196);
    color: black;
    border: none;
    border-radius: 5px;
}
#admin-submit-logout:hover{
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: white;

}
@keyframes gradientMove {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

#admindash-add {
    margin-top: 20px;
    width: 400px;
    padding: 30px 10px 10px 10px;
    background-color: #ffffff; /* Ensure content is visible */
    border-radius: 20px;
    border: solid transparent; /* Transparent border for space */
    position: relative;
    margin-bottom: 200px;
}

#admindash-add::before {
    content: '';
    position: absolute;
    top: -6px;
    left: -6px;
    right: -6px;
    bottom: -6px;
    background: linear-gradient(135deg, #6a11cb, #2575fc); /* Gradient border */
    filter: blur(10px);
    border-radius: 22px; /* Rounded corners for the gradient border */
    z-index: -1; /* Place behind the form content */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
#admindash-form input, select{
    padding: 10px;
    font-size: 1rem;
    border-radius: 8px;
    border: none;
    background-color: rgba(175, 175, 175, 0.37);
    cursor: pointer;
}
#admindash-form input[type=checkbox]{
    width: 20px;
    height: 20px;
    margin: 10px;
}

#admindash-cat{
    margin-left: 10px;
}

#admindash-question{
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.admindash-ans{
    margin:10px;
}
.admindash-ans input[type=text]{
    width: 200px;
}
.admindash-ans input[type=text]:hover{
    width: 210px;
    transition: max-width 0.9s ease;
}

#admindash-ans-addrm{
    margin-top: 10px;
    margin-left: 10px;
}
#admindash-ans-add:hover{
    background-color: rgb(153, 231, 134);
    transform: scale(1.05);
    transition: all 1s ease;
}
#admindash-ans-rm:hover{
    background-color: rgb(231, 134, 134);
    transform: scale(1.05);
    transition: all 1s ease;
}

#admindash-submit{
    margin-top: 10px;
    margin-left: 10px;
}
